:root {
	--switch-width: 2.5rem;
	--switch-height: 1.5rem;
	--thumb-size: 1rem;
}

.switch-wrapper {
	@apply inline-flex items-center gap-2;
}

.switch {
	@apply relative w-(--switch-width) h-(--switch-height) bg-on-background/20;
	@apply rounded-full p-1 cursor-pointer transition-colors;
	&:hover {
		@apply bg-on-background/30;
	}
}

radiant-switch {
	@apply contents;
}

radiant-switch[checked='true'] .switch {
	@apply bg-primary;
	&:hover {
		@apply bg-primary/80;
	}
}

radiant-switch[disabled='true'] .switch {
	@apply opacity-50 cursor-not-allowed;
}

.thumb {
	@apply block absolute top-1/2 left-1 w-(--thumb-size) h-(--thumb-size);
	@apply bg-on-background rounded-full transform -translate-y-1/2 transition-all ease-in-out duration-200 pointer-events-none;
}

radiant-switch[checked='true'] .thumb {
	@apply bg-on-primary;
	left: calc(100% - var(--thumb-size) - 0.25rem);
}
