radiant-counter {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #c3dafe;
  border-radius: 0.375rem;
  padding: 0.5rem;
  max-width: fit-content;

  [data-ref="increment"],
  [data-ref="decrement"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 0.375rem;
    width: 2rem;
    height: 2rem;
  }

  [data-ref="increment"]:hover,
  [data-ref="decrement"]:hover {
    background-color: #2563eb;
  }

  [data-ref="increment"]:active,
  [data-ref="decrement"]:active {
    background-color: #1e429f;
  }

  span {
    color: #1f2937;
    font-weight: 700;
    padding: 0.5rem;
    background-color: #f3f4f6;
    min-width: 5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
  }
}
