html {
	scroll-behavior: smooth;
	color-scheme: light;
	@apply bg-background;
}

[data-theme='dark'] {
	color-scheme: dark;
}

::selection {
	@apply bg-primary/30;
}

main {
	@apply max-w-7xl w-full mx-auto;
}
