@reference '../../../styles/radiant-ui.css';

rui-switch {
	@apply inline-flex;
}

@layer components {
	.rui-switch {
		@apply inline-flex items-center gap-inline;
		@apply cursor-pointer text-sm text-on-background;
	}

	.rui-switch:has(input:disabled) {
		@apply cursor-not-allowed opacity-disabled;
	}

	.rui-switch__input {
		@apply sr-only;
	}

	.rui-switch__input:focus-visible + .rui-switch__track {
		@apply ring-2 ring-focus-ring ring-offset-2;
	}

	.rui-switch__track {
		--rui-switch-width: 2.5rem;
		--rui-switch-height: 1.5rem;
		--rui-switch-thumb-size: 1rem;

		@apply relative inline-flex h-(--rui-switch-height) w-(--rui-switch-width) shrink-0 items-center rounded-pill p-1;
		@apply bg-on-background/20 transition-colors duration-normal;
	}

	.rui-switch__track:hover {
		@apply bg-on-background/30;
	}

	.rui-switch__input:checked + .rui-switch__track {
		@apply bg-primary;
	}

	.rui-switch__input:checked + .rui-switch__track:hover {
		@apply bg-primary/80;
	}

	.rui-switch__thumb {
		@apply pointer-events-none absolute top-1/2 left-1 size-(--rui-switch-thumb-size) -translate-y-1/2 rounded-full bg-on-background;
		@apply transition-[left,right,transform] duration-normal ease-in-out;
	}

	.rui-switch__input:checked + .rui-switch__track .rui-switch__thumb {
		@apply right-1 left-auto bg-on-primary;
	}

	.rui-switch__label {
		@apply select-text;
	}
}
