@import './radiant-ui.css';

body {
	@apply container mx-auto p-4 bg-background text-on-background;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	@apply flex flex-col gap-4;
}

a,
button,
input,
select,
textarea {
	&:focus,
	&:focus-visible {
		@apply outline-2 outline-focus-ring rounded-xs;
	}
}
